---
import Welcome from '../components/Welcome.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Mooner Home";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My Astro Web Site</h2>
</BaseLayout>
